input {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  display: block;
}

.block {
  display: block;
  margin-top: 0.5rem;
}

.elements {
  display: flex;
  justify-content: space-around;
}

nb-select {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
