<form [formGroup]="quizForm">
  <nb-card class="quiz-card">
    <nb-card-header class="quiz-header">
      <h3>Quiz</h3>
    </nb-card-header>
    <nb-card-body class="quiz-body">
      <nb-list>
        <nb-list-item *ngFor="let questionControl of questionsFormArray.controls; let i = index">
          <nb-card class="question-card">
            <nb-card-header class="question-header">
              <h4>{{ questionControl.get('question')?.value }}</h4>
              <nb-checkbox 
                formControlName="{{questionControl.get('selected')}}"
                (change)="onCheckboxChange(i)">
                {{ questionControl.get('selected')?.value ? 'Selecionado' : 'Não Selecionado' }}
              </nb-checkbox>
            </nb-card-header>
            <nb-card-body class="question-body">
              <nb-list>
                <nb-list-item *ngFor="let alternative of questionControl.get('alternatives')?.value">
                  {{ alternative }}
                </nb-list-item>
              </nb-list>
            </nb-card-body>
          </nb-card>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</form>
