<div>
  <canvas
    baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="'bar'"
  >
  </canvas>
</div>

<div>
  <canvas
    baseChart
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
  >
  </canvas>
</div>

<div>
  <canvas
    baseChart
    [datasets]="radarChartDatasets"
    [options]="radarChartOptions"
    [labels]="radarChartLabels"
    [type]="'radar'"
  >
  </canvas>
</div>

<div>
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="pieChartDatasets"
    [labels]="pieChartLabels"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>
</div>
