.question-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  strong {
    font-size: 1.2em;
  }
  
  p {
    margin: 5px 0;
  }
  
  small {
    color: gray;
  }
  